<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sun.tasks.task.dao.TaskDao">
	<resultMap type="cn.sun.tasks.task.domain.Task" id="taskMap">
		<id property="id" column="id" />
		<result property="content" column="content" />
		<result property="desc" column="desc" />
		<result property="priority" column="priority" />
		<result property="isHabit" column="is_habit" />
		<result property="isComplete" column="is_complete" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="deleteTime" column="delete_time" />
		<result property="isDelete" column="is_delete" />

		<collection property="timeExpecteds"
			ofType="cn.sun.tasks.timeexpected.domain.TimeExpected" column="id">
			<id column="task_id" property="taslId" /><!-- 这里的column对应的是下面查询的别名，而不是表字段名 -->
			<result column="begin_time_expected" property="beginTimeExpected" /><!-- 
				property对应JavaBean中的属性名 -->
			<result column="end_time_expected" property="endTimeExpected" />
		</collection>

		<collection property="timeActuals"
			ofType="cn.sun.tasks.timeactual.domain.TimeActual" column="id">
			<id column="task_id" property="taslId" /><!-- 这里的column对应的是下面查询的别名，而不是表字段名 -->
			<result column="begin_time_actual" property="beginTimeActual" /><!-- 
				property对应JavaBean中的属性名 -->
			<result column="end_time_actual" property="endTimeActual" />
		</collection>
	</resultMap>

	<!-- 查询所有任务 -->
	<select id="getAllTasks" resultMap="taskMap">
		SELECT
			t.id,
			t.content,
			t.`desc`,
			t.priority,
			t.is_habit,
			t.create_time,
			t.update_time,
			t.delete_time,
			t.is_complete,
			t.is_delete
		FROM
			t_task t
		WHERE (t.content LIKE CONCAT('%',#{content},'%') OR #{content} = '' )
		AND (t.`desc` LIKE CONCAT('%',#{desc},'%') OR #{desc} = '' )
		AND (t.priority = #{priority} OR #{priority} IS NULL )
		AND (t.is_habit = #{isHabit} OR #{isHabit} IS NULL )
		AND (t.is_complete = #{isComplete} OR #{isComplete} IS NULL )
		LIMIT #{start}, #{offset}
	</select>

	<!-- 查询所有任务总数量TotalCount -->
	<select id="getAllTasksTotalCount" resultType="int">
		SELECT
			count(t.id) 
		FROM
			t_task t
		WHERE (t.content LIKE CONCAT('%',#{content},'%') OR #{content} = '' )
		AND (t.`desc` LIKE CONCAT('%',#{desc},'%') OR #{desc} = '' )
		AND (t.priority = #{priority} OR #{priority} IS NULL )
		AND (t.is_habit = #{isHabit} OR #{isHabit} IS NULL )
		AND (t.is_complete = #{isComplete} OR #{isComplete} IS NULL )
	</select>

	<!-- 根据id查询任务 -->
	<select id="getTaskById" parameterType="Integer" resultMap="taskMap">
		SELECT
		t.id,
		t.content,
		t.`desc`,
		t.priority,
		t.is_habit,
		t.create_time,
		t.update_time,
		t.delete_time,
		t.is_complete,
		t.is_delete
		FROM
		t_task t
		WHERE
		t.id = #{id}
	</select>

	<!-- 添加任务 -->
	<insert id="insertTask" parameterType="cn.sun.tasks.task.domain.Task"
		keyColumn="id" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_task
		(
		content,
		`desc`,
		priority,
		is_habit,
		create_time
		)
		VALUES
		(
		#{content},
		#{desc},
		#{priority},
		#{isHabit},
		now()
		)
	</insert>

	<!-- 更新任务 -->
<!--  
	<update id="updateTask" parameterType="cn.sun.tasks.task.domain.Task">
		UPDATE t_task
		SET content = #{content},
		`desc` = #{desc},
		priority = #{priority},
		is_habit = #{isHabit},
		update_time = now()
		WHERE
		id = #{id}
	</update>
-->
	<!-- 删除任务 -->
	<update id="deleteTask" parameterType="Integer">
		UPDATE t_task
		SET is_delete
		= 1
		WHERE
		id = #{id}
	</update>

	<!-- 查询已完成任务 -->
	<select id="getCompletedTasks" resultMap="taskMap">
		SELECT
			t.id,
			t.content,
			t.`desc`,
			t.priority,
			t.is_habit,
			t.create_time,
			t.update_time,
			t.delete_time,
			t.is_complete,
			t.is_delete 
		FROM
			t_task t 
		WHERE
			t.is_complete = 1 
			AND t.is_delete =0
			LIMIT #{start},#{offset}
	</select>
	<!-- 查询已完成任务数量 -->
	<select id="getCompletedTasksTotalCount" resultType="int">
		SELECT
			count(t.id) 
		FROM
			t_task t
		WHERE
			t.is_complete = 1 
			AND t.is_delete =0
	</select>
	
	<!-- 查询待办任务 -->
	<select id="getTodos" resultMap="taskMap">
		SELECT
			a.id,
			a.content,
			a.`desc`,
			a.is_habit,
			a.create_time,
			a.update_time,
			a.delete_time,
			a.is_complete,
			a.is_delete 
		FROM
			(
			SELECT
				t.id,
				t.content,
				t.`desc`,
				t.is_habit,
				t.create_time,
				t.update_time,
				t.delete_time,
				t.is_complete,
				t.is_delete 
			FROM
				t_task t
				LEFT JOIN t_time_expected te ON t.id = te.task_id 
			GROUP BY
				te.task_id 
			HAVING
				UNIX_TIMESTAMP( NOW( ) ) &lt; UNIX_TIMESTAMP( max( te.end_time_expected ) ) 
				OR max( te.end_time_expected ) IS NULL 
			) AS a
			CROSS JOIN (
			SELECT
				t.id,
				t.content,
				t.`desc`,
				t.is_habit,
				t.create_time,
				t.update_time,
				t.delete_time,
				t.is_complete,
				t.is_delete 
			FROM
				t_task t
				LEFT JOIN t_time_actual ta ON t.id = ta.task_id 
			WHERE
				ta.begin_time_actual IS NULL 
				AND t.is_complete = 0 
				AND t.is_delete = 0 
			) AS b ON a.id = b.id 
			LIMIT #{start},#{offset}
	</select>
	<!-- 查询待办任务总数 -->
	<select id="getTodosTotalCount" resultType="int">
		SELECT
			count( a.id ) 
		FROM
			(
			SELECT
				t.id 
			FROM
				t_task t
				LEFT JOIN t_time_expected te ON t.id = te.task_id 
			GROUP BY
				te.task_id 
			HAVING
				UNIX_TIMESTAMP( NOW( ) ) &lt; UNIX_TIMESTAMP( max( te.end_time_expected ) ) 
				OR max( te.end_time_expected ) IS NULL 
			) AS a
			CROSS JOIN (
			SELECT
				t.id 
			FROM
				t_task t
				LEFT JOIN t_time_actual ta ON t.id = ta.task_id 
			WHERE
				ta.begin_time_actual IS NULL 
				AND t.is_complete = 0 
			AND t.is_delete = 0 
			) AS b ON a.id = b.id
	</select>
	
	<!-- 查询当前任务 -->
	<select id="getPresentTasks" resultMap="taskMap">
		SELECT
			a.id,
			a.content,
			a.`desc`,
			a.is_habit,
			a.create_time,
			a.update_time,
			a.delete_time,
			a.is_complete,
			a.is_delete 
		
		FROM
			(
			SELECT
				t.id,
				t.content,
				t.`desc`,
				t.is_habit,
				t.create_time,
				t.update_time,
				t.delete_time,
				t.is_complete,
				t.is_delete 
			FROM
				t_task t
				LEFT JOIN t_time_expected te ON t.id = te.task_id 
			GROUP BY
				te.task_id 
			HAVING
				UNIX_TIMESTAMP( NOW( ) ) &lt; UNIX_TIMESTAMP( max( te.end_time_expected ) ) UNION
			SELECT
				t.id,
				t.content,
				t.`desc`,
				t.is_habit,
				t.create_time,
				t.update_time,
				t.delete_time,
				t.is_complete,
				t.is_delete 
			FROM
				t_task t
				LEFT JOIN t_time_expected te ON t.id = te.task_id 
			WHERE
				te.begin_time_expected IS NULL
			) AS a
			JOIN (
			SELECT
				t.id,
				t.content,
				t.`desc`,
				t.is_habit,
				t.create_time,
				t.update_time,
				t.delete_time,
				t.is_complete,
				t.is_delete 
			FROM
				t_task t
				LEFT JOIN t_time_actual ta ON t.id = ta.task_id 
			WHERE
				ta.begin_time_actual IS NOT NULL 
				AND t.is_complete = 0 
				AND t.is_delete = 0 
			GROUP BY
			ta.task_id 
			) AS b ON a.id = b.id
			LIMIT #{start},#{offset}
	</select>
	<!-- 查询当前任务总数 -->
	<select id="getPresentTasksTotalCount" resultType="int">
		SELECT
			count(a.id)
		FROM
			(
			SELECT
				t.id
			FROM
				t_task t
				LEFT JOIN t_time_expected te ON t.id = te.task_id 
			GROUP BY
				te.task_id 
			HAVING
				UNIX_TIMESTAMP( NOW( ) ) &lt; UNIX_TIMESTAMP( max( te.end_time_expected ) ) UNION
			SELECT
				t.id
			FROM
				t_task t
				LEFT JOIN t_time_expected te ON t.id = te.task_id 
			WHERE
				te.begin_time_expected IS NULL
			) AS a
			JOIN (
			SELECT
				t.id
			FROM
				t_task t
				LEFT JOIN t_time_actual ta ON t.id = ta.task_id 
			WHERE
				ta.begin_time_actual IS NOT NULL 
				AND t.is_complete = 0 
			GROUP BY
			ta.task_id 
			) AS b ON a.id = b.id
	</select>
	
	<!-- 查询逾期任务 -->
	<select id="getOverdueTasks" resultMap="taskMap">
		SELECT
			t.id,
			t.content,
			t.`desc`,
			t.priority,
			t.is_habit,
			t.create_time,
			t.update_time,
			t.delete_time,
			t.is_complete,
			t.is_delete 
		FROM
			t_task t
			LEFT JOIN t_time_actual ta ON t.id = ta.task_id
			LEFT JOIN t_time_expected te ON t.id = te.task_id 
		WHERE
			t.is_complete = 1 
			AND t.is_delete = 0 
		GROUP BY
			ta.task_id,
			te.task_id 
		HAVING
			UNIX_TIMESTAMP( max( ta.end_time_actual ) ) &gt; UNIX_TIMESTAMP( max( te.end_time_expected ) ) UNION
		SELECT
			t.id,
			t.content,
			t.`desc`,
			t.priority,
			t.is_habit,
			t.create_time,
			t.update_time,
			t.delete_time,
			t.is_complete,
			t.is_delete 
		FROM
			t_task t
			LEFT JOIN t_time_expected te ON t.id = te.task_id 
		WHERE
			t.is_complete = 0 
			AND t.is_delete = 0 
		GROUP BY
			te.task_id 
		HAVING
			UNIX_TIMESTAMP( NOW( ) ) &gt; UNIX_TIMESTAMP( max( te.end_time_expected ) )
			LIMIT #{start},#{offset}
	</select>
	<!-- 查询逾期任务 总数-->
	<select id="getOverdueTasksTotalCount" resultType="int">
		SELECT
			count(a.id)
		FROM
			(
			SELECT
				t.id 
			FROM
				t_task t
				LEFT JOIN t_time_actual ta ON t.id = ta.task_id
				LEFT JOIN t_time_expected te ON t.id = te.task_id 
			WHERE
				t.is_complete = 1 
				AND t.is_delete = 0 
			GROUP BY
				ta.task_id,
				te.task_id 
			HAVING
				UNIX_TIMESTAMP( max( ta.end_time_actual ) ) &gt; UNIX_TIMESTAMP( max( te.end_time_expected ) ) UNION
			SELECT
				t.id 
			FROM
				t_task t
				LEFT JOIN t_time_expected te ON t.id = te.task_id 
			WHERE
				t.is_complete = 0 
				AND t.is_delete = 0 
			GROUP BY
				te.task_id 
			HAVING
			UNIX_TIMESTAMP( NOW( ) ) &gt; UNIX_TIMESTAMP( max( te.end_time_expected ) ) 
			) as a
	</select>
</mapper>