<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sun.tasks.timeline.dao.TimelineDao">
	<resultMap type="cn.sun.tasks.timeline.domain.Timeline" id="TimelineMap">
		<id property="id" column="id"/>
		<result property="content" column="content"/>
		<result property="desc" column="desc"/>
		<result property="beginTime" column="begin_time"/>
		<result property="endTime" column="end_time"/>
	</resultMap>
	
</mapper>