<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sun.tasks.mapper.TaskMapper">
<resultMap type="cn.sun.tasks.task.domain.Task" id="taskRM">
		<id property="id" column="id"/>
		<result property="content" column="content"/>
		<result property="desc" column="desc"/>
		<result property="signingDate" column="SIGNING_DATE"/>
		<result property="priority" column="priority"/>
		<result property="isHabbit" column="is_habbit"/>
		<result property="isComplete" column="is_complete"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="deleteTime" column="delete_time"/>
		<result property="isDelete" column="is_delete"/>
</resultMap>

</mapper>